@import "bootstrap";

.alert-notice {
	background-color: #d8e8f0;
  border-color: #c5dce8;
  color: #3c6275;
}

.alert-error, .alert-alert, #error_explanation {
	background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

#error_explanation {
	border: 1px solid;
}

.navbar {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.logo {
	color: #ddd !important;

	&:hover {
		color: #fff !important;
	}
}

.links {
	background-color: #444;
	padding: 8px 14px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	a {
		color: #fff;
	}
}

h1 {
	border-bottom: 3px solid #666;
	margin-bottom: 30px;
	padding-bottom: 5px;
}

span.newHidden {
	cursor: pointer;
	color: #428bca;
	font-size: 18px;
	display: inline-block;
	margin: 20px 0;

	&:hover {
		text-decoration: underline;
	}
}

.hiddenForm {
	overflow: hidden;
}

ul.categories, ul.products {
	li {
		font-size: 1.6em;
	}
}

.back {
	position: relative;
	top: 20px;
}

.newBtn {
	margin-bottom: 20px;
}

.reviewContent{
	margin-bottom: 20px;
}

.fullName {
	margin-top: 20px;
}

.reviewContent, .reviewRating, .reviewFor {
	text-indent: 15px;
}

.reviewAuthor {
	background-color: #ddd;
	padding: 4px;
	border-left: 2px solid #bbb;

	.date {
		font-size: 0.9em;
	}
}
