@import "bootstrap";

.alert-notice {
	background-color: #d8e8f0;
  border-color: #c5dce8;
  color: #3c6275;
}

.alert-error, .alert-alert, #error_explanation {
	background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

#error_explanation {
	border: 1px solid;
}

h1 {
	border-bottom: 3px solid #000;
	margin-bottom: 30px;
}

h4.newHidden {
	cursor: pointer;
	color: #6a6a6a;
}

.hiddenForm {
	overflow: hidden;
}

ul li a {
	font-size: 1.6em;
}
