@import "bootstrap";

.alert-notice {
	background-color: #d8e8f0;
  border-color: #c5dce8;
  color: #3c6275;
}

.alert-error {
	background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

h1 {
	border-bottom: 3px solid #000;
}
