%h1 Listing products for #{category.name}

%ul.products
  - category.products.each do |product|
    %li
      = link_to product.title, category_product_path(category, product)

- if category.products.empty?
  no products

